<%- model_class = WeatherHour -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<!-- <p id="notice"><%= notice %></p> -->

<h2>検索</h2>
<%= search_form_for @q do |f| %>

  <%= f.label :date_cont, "日付" %><%= f.date_field :date_cont %>
  <%= f.label :temperature_eq, "気温" %><%= f.search_field :temperature_eq %>

  <%= f.submit %>
<% end %>


<%= page_entries_info(@weather_hours) %>
<div class="table-responsive">
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= sort_link @q, :date, model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:t_time) %></th>
      <th><%= sort_link @q, :temperature, model_class.human_attribute_name(:temperature) %></th>
      <th><%= sort_link @q, :wind_speed, model_class.human_attribute_name(:wind_speed) %></th>
      <th><%= sort_link @q, :wind_direction, model_class.human_attribute_name(:wind_direction) %></th>
      <th><%= sort_link @q, :railfall, model_class.human_attribute_name(:railfall) %></th>
      <th><%= sort_link @q, :snow, model_class.human_attribute_name(:snow) %></th>
      <th><%= sort_link @q, :day_length, model_class.human_attribute_name(:day_length) %></th>
      <th><%= sort_link @q, :insolation, model_class.human_attribute_name(:insolation) %></th>
      <th><%= sort_link @q, :pressure, model_class.human_attribute_name(:pressure) %></th>
      <th><%= sort_link @q, :sea_pressure, model_class.human_attribute_name(:sea_pressure) %></th>
      <th><%= sort_link @q, :humidity, model_class.human_attribute_name(:humidity) %></th>
      <th><%= sort_link @q, :stream_pressure, model_class.human_attribute_name(:stream_pressure) %></th>
      <th><%= '雲海' %></th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @weather_hours.each do |weather_hour| %>
      <tr>
        <td><%= weather_hour.date %></td>
        <td><%= weather_hour.t_time.to_s.split[1] %></td>
        <td><%= weather_hour.temperature %></td>
        <td><%= weather_hour.wind_speed %></td>
        <td><%= weather_hour.wind_direction %></td>
        <td><%= weather_hour.railfall %></td>
        <td><%= weather_hour.snow %></td>
        <td><%= weather_hour.day_length %></td>
        <td><%= weather_hour.insolation %></td>
        <td><%= weather_hour.pressure %></td>
        <td><%= weather_hour.sea_pressure %></td>
        <td><%= weather_hour.humidity %></td>
        <td><%= weather_hour.stream_pressure %></td>
        <td><%= weather_hour.get_Unkai(weather_hour.date) %></td>
<!--         <td><%= link_to 'Show', weather_hour %></td>
        <td><%= link_to 'Edit', edit_weather_hour_path(weather_hour) %></td>
        <td><%= link_to 'Destroy', weather_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>
<%= paginate @weather_hours %>


<br>

<%= link_to 'New Weather hour', new_weather_hour_path %>
